@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-colors duration-200
}

body.dark-mode{
    background-image: url(assets/dark-mode.jpg);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body{
  background-image: url(assets/light-mode.jpg);
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
